<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Daintree</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

	<script type="text/javascript">
		let user = '{{request.user}}'

		function getToken(name) {
			let cookieValue = null;
			if (document.cookie && document.cookie !== '') {
				const cookies = document.cookie.split(';');
				for (let i = 0; i < cookies.length; i++) {
					const cookie = cookies[i].trim();

					if (cookie.substring(0, name.length + 1) === (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
		let csrftoken = getToken('csrftoken');


		function getCookie(name){
			let cookieArr = document.cookie.split(";");
			for (let i=0; i<cookieArr.length; i++) {
				let cookiePair = cookieArr[i].split("=");
				if (name == cookiePair[0].trim()) {
					return decodeURIComponent(cookiePair[1])
				}
			}
			return null
		}

		let cart = JSON.parse(getCookie('cart'))

		if(cart == undefined){
			cart = {}
			console.log('Cart was created')
			document.cookie = 'cart=' + JSON.stringify(cart) + ';domain=;path=/'
		}

	</script>

</head>
<body>

	{% include 'store/navbar.html' %}

     <div class="contents">

		{% if messages %}
		<div id="messages" class="mb-4">
			{% for message in messages %}
				<div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
					<span class="block sm:inline">{{ message }}</span>
					<span class="absolute top-0 bottom-0 right-0 px-4 py-3 close-btn cursor-pointer">
						<svg class="fill-current h-6 w-6 text-green-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.293 5.293a1 1 0 011.414 1.414L11.414 10l4.293 4.293a1 1 0 11-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 111.414-1.414L10 8.586l4.293-4.293z"/></svg>
					</span>
				</div>
			{% endfor %}
		</div>
		{% endif %}

		<br>
		{% block content %}


		{% endblock content %}
	</div>


	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

	<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>

	<script>
        document.addEventListener("DOMContentLoaded", function () {
            const closeButtons = document.querySelectorAll(".close-btn");
    
            closeButtons.forEach(function (button) {
                button.addEventListener("click", function () {
                    const message = button.closest(".relative");
                    message.style.display = "none";
                });
            });
        });
    </script>  

</body>
</html>